<header class="masthead" style="background-image: url('assets/img/login.jpg')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>Login</h1>
        </div>
        <div class="container px-4 px-lg-5">
          <div class="row gx-4 gx-lg-5 justify-content-center text-white">
            <hr>
            <form>
              <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email">
              </div>
              <div class="mb-3">
                <label for="password1" class="form-label">Password</label>
                <input type="password" class="form-control" id="password1" name="password1">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
              <div class="my-2">
                Don't have an Account? 
                <a href="/users/register" class="text-info">Click here to Register</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>